.AboutMe {
    background-color: white;
    padding: 25px;
    border: 3px solid rgb(149, 149, 149);
}

.AboutMeHead {
    display: inline-flexbox;
    justify-content: center;
    word-wrap: break-word;
    /* position: absolute; */
    padding: 10px;
}
