.App {
  text-align: center;
}

.Particle-Layer {
  position: fixed !important;
}

.Company-Text {
  font-family: "Merienda", cursive;
  color: whitesmoke;
  font-size: 6rem;
  text-shadow: 3px 4px #6eb4e6;
  margin-top: 3%;
}

.Company-TagLine {
  font-family: "Spartan", sans-serif;
  color: white;
  padding: 15px;
}

.Start-Button {
  background-color: rgb(30, 178, 223); /* Green */
  border-radius: 4rem 4rem 4rem 4rem;
  box-shadow: 1px 2px 2px 1px #6eb4e6;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 12%;
}
